<div class="title">
  <h1>Rock, Paper, Scissors!!</h1>
</div>


<div class="score-board">
  <div id="user-label" class="badge">Player</div>
  <div id="comp-label" class="badge">Computer</div>
  <span id="user-score">{{scores.player}}</span>:<span id="comp-score">{{scores.computer}}</span>
</div>

<p class="info-game"> {{jugada}}</p>
<p class="info-game"> {{result}}</p>

<div class="choices">
  <button class="choice" (click)="play('rock')">
    <img src="/assets/img/rock.png">
  </button>
  <button class="choice" (click)="play('paper')">
    <img src="/assets/img/paper.png">
  </button>
  <button class="choice" (click)="play('scissor')">
    <img src="/assets/img/scissors.png">
  </button>
</div>

<p class="info-game">Select your play</p>

<button type="button" class="btn btn-primary" (click)="reset()">Reset</button>